# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.py[cod]
*$py.class

# =====================================================
# VIRTUAL ENVS
# =====================================================

.venv/
venv/
env/

# =====================================================
# UV
# =====================================================

.python-version

# Mantener uv.lock versionado
# uv.lock

# =====================================================
# JUPYTER
# =====================================================

.ipynb_checkpoints/

# =====================================================
# TESTING
# =====================================================

.pytest_cache/
.coverage
htmlcov/

# =====================================================
# IDEs
# =====================================================

.vscode/
.idea/

# =====================================================
# OS
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# ENVIRONMENT VARIABLES
# =====================================================

.env

# ==========================================
# Generated outputs
# ==========================================

output/charts/*
output/reports/*

# Mantener estructura
!output/charts/.gitkeep
!output/reports/.gitkeep


# =====================================================
# LOGS
# =====================================================

*.log

# =====================================================
# DATABASES LOCALES
# =====================================================

*.db
*.sqlite
*.sqlite3

# =====================================================
# ARCHIVOS TEMPORALES
# =====================================================

tmp/
temp/
*.tmp

# =====================================================
# BUILD
# =====================================================

build/
dist/
*.egg-info/

# =====================================================
# BACKUPS POSTGRES
# =====================================================

provision/backup.sql
postgres/backup.sql